@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1>Order Placed Successfully!</h1>
        Your Order Number Is: @Model <br /> <br />
        <img src="~/images/lawn_leaf.jpg" alt="Alternate Text" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
            your order has been placed successfully :)
    </div>
</div>