@model Product

<div class="card shadow my-4 border-0">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border-0 ">
                <div class="m-3">
                    <label asp-for="Title" class="form-label mb-2 mt-4">Title</label>
                    <input disabled asp-for="Title" class="form-control mb-2" placeholder="Enter Title">
                </div>
                <div class="m-3">
                    <label asp-for="Author" class="form-label mt-4 mb-2">Author</label>
                    <input disabled asp-for="Author" class="form-control mb-2" placeholder="Enter Author Name">
                </div>
                <div class="m-3">
                    <label asp-for="Description" class="form-label mt-4 mb-2">Desciption</label>
                    <textarea disabled asp-for="Description" class="form-control mb-2" placeholder="Enter Description">
                     </textarea>
                </div>
                <div class="m-3">
                    <label asp-for="ISBN" class="form-label mt-4 mb-2">ISBN</label>
                    <input disabled asp-for="ISBN" class="form-control mb-2" placeholder="Enter ISBN">
                </div>
                <div class="m-3">
                    <label asp-for="Price" class="form-label mt-4 mb-2">Price</label>
                    <input disabled asp-for="Price" class="form-control mb-2" placeholder="Enter Price">
                </div>
                <div class="m-3">
                    <label asp-for="ListPrice" class="form-label mt-4 mb-2">List Price</label>
                    <input disabled asp-for="ListPrice" class="form-control mb-2" placeholder="Enter List Price">
                </div>
                <div class="m-3">
                    <label asp-for="Price50" class="form-label mt-4 mb-2">Price 50</label>
                    <input disabled asp-for="Price50" class="form-control mb-2" placeholder="Enter Price for 50 units">
                </div>
                <div class="m-3">
                    <label asp-for="Price100" class="form-label mt-4 mb-2">Price100</label>
                    <input disabled asp-for="Price100" class="form-control mb-2" placeholder="Enter Price for 100 units">
                </div>

                <div class="row d-flex justify-content-between mx-auto">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-secondary form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3 text-start">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-info form-control">Back To Products</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

